@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  background: #756157;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFF;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  max-height: 64px;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 28px;
  z-index: 999;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 339px;
}


.menu-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.menu-link.active::before {
  content: "";
  position: absolute;
  height: 2px;
  right: 17px;
  bottom: 0;
  z-index: 999;
  left: 17px;
  background: #756257;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.menu-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}

.menu-search-link {
  display: block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
  text-decoration: none;
  color: #000;
}

.menu-features-link {
  position: relative;
  display: block;
  background-image: url("../img/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
  text-decoration: none;
  color: #000;
}

.favourites-numbers {
  position: absolute;
  left: 21px;
  top: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #FFF;
  padding: 5px 4px;
  border-radius: 10px;
  background-color: #7DB54F;
}

.nav-btn-link {
  margin-left: 20px;
  width: 160px;
  font-family: inherit;
}

.nav-btn-link:focus {
  background: #615048;
}

.main-container {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../img/index-background.jpg");
  background-color: rgba(131, 179, 211, 0.20);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero::before {
  content: "";
  position: absolute;
  background-image: url("../img/divider.svg");
  width: 1200px;
  height: 57px;
  top: 428px;
  z-index: 999;
}

.advantages {
  margin-top: 69px;
}

.lead {
  margin: 0 auto;
  width: 620px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list-title {
  margin: 0 auto;
  color: #333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 90px;
  margin-bottom: 64px;
}

.advantages-list:last-of-type {
  margin: 0;
  margin-top: 64px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82B3D3;
}

.advantages-item:nth-child(3n) {
  background: rgba(131, 179, 211, 0.20);
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-img {
  height: 100%;
  object-fit: cover;
}

.advantages-title {
  position: relative;
  margin: 0 auto;
  max-width: 175px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
  top: 86px;
  left: 61px;
}

.advantages-item-wide .advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.30);
  top: 86px;
  left: 61px;
}

.advantages-subtitle {
  margin: 0;
  margin-top: 30px;
  color: #333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-wide .advantages-title {
  color: #FFF;
}

.advantages-item-wide .advantages-subtitle {
  color: #FFF;
}

.advantages-list-service {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 64px;
}

.advantages-item-service {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-service:nth-child(2n) {
  background: #FFF;
}

.advantages-item-service-housing {
  height: 72px;
  width: 75px;
  background-image: url("../img/housing-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-food {
  height: 72px;
  width: 75px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-souvenirs {
  height: 72px;
  width: 75px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}
.advantages-title-service {
  position: relative;
    margin: 0 auto;
    max-width: 175px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-subtitle-service {
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 54px;
  color: #333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  padding: 8px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: #615048;
}

.search-btn:focus {
  border-radius: 4px;
  background: #615048;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-search-center {
  margin: 0;
  text-align: center;
}

.subscribe {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-theme-custom {
  background-image: url("../img/subscribe.jpg");
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 0;
  margin-bottom: 54px;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
}

.subscribe-theme-custom .subscribe-title {
  color: #FFF;
}

.subscribe-theme-custom .subscribe-subtitle {
  color: #FFF;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 412px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: 0;
  padding: 12px 20px;
}

.subscribe-btn {
  display: block;
  border-radius: 0 4px 4px 0;
  background: #82B3D3;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  font-family: inherit;
  cursor: pointer;
}

.subscribe-btn:hover {
  background: #68A2CA;
}

.subscribe-btn:focus {
  background: #68A2CA;
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68A2CA;
}

.subscribe-btn:disabled {
  border-radius: 4px;
  background: #E5E5E5;
}

.subscribe-input::placeholder {
  color: #000;
  opacity: 0.6;
}

.page-footer {
  padding: 40px 70px 30px;
}

.footer-wrap {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 50px;
  align-items: center;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  list-style-type: none;
  margin-right: 236px;
}

.social-link-btn {
  position: relative;
  display: block;
  padding: 13px 20px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link-btn:hover .link-icon {
  fill: #68A2CA;
}

.social-link-btn:active .link-icon {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.contacts-address {
  display: flex;
  justify-content: center;
  font-style: normal;
}

.contacts-phone {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-academy-link {
  margin-left: 235px;
}

.logo-academy {
  fill: #000;
}

.logo-academy-link:hover .logo-academy {
  fill: #756157;
}

.logo-academy-link:focus .logo-academy {
  fill: #756157;
}

.logo-academy-link:active .logo-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.filter-wrap {
  padding: 35px 70px 73px 70px;
  background-image: url("../img/filter.jpg");
  background-color: #000;
  background-size: cover, contain;
  background-repeat: no-repeat;
}

.content-wrap {
  width: 1060px;
  margin: 0 auto;
}


.header-inner-title {
  margin: 0;
  margin-bottom: 8px;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  color: #FFF;
  list-style-type: none;
  margin-bottom: 40px;
}


.breadcrumbs-item {
  position: relative;
  margin-right: 28.5px;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.breadcrumbs-main-link {
  display: block;
  background-image: url("../img/main.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 21px;
  background-position: center;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 13px;
  top: 5px;
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}


.form-filter {
  display: flex;
}

.filter-group-infrastructure {
  width: 158px;
}

.filter-title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #FFF;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control-input-price {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-wrap {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.catalog-sort-text {
  margin-right: auto;
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sort-price {
  font-family: inherit;
  align-self: center;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
}

.card-view-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
}

.card-view-item {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid  #E5E5E5;
}

.card-view-item.active {
  border: 2px solid  #000;
}

.card-view {
  display: block;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.card-view-item:hover {
  border-radius: 4px;
  border: 2px solid #000;
}

.card-view:focus-visible {
  outline: 2px solid #68A2CA;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .card-view:focus {
    outline: none;
  }

  .card-view:focus-visible {
    outline: 2px solid #68A2CA;
    border-radius: 3px;
  }
}

.card-view-grid {
  background-image: url("../img/grid.svg");
}

.card-view-row {
  background-image: url("../img/row.svg");
}

.card-view-list {
  background-image: url("../img/list.svg");
}

.form-btns {
  border: 0;
  padding: 0;
  margin: 0;
}

.btn-add {
  background-color: #82B3D3;
  width: 100%;
  color: #FFF;
  border: 0;
  font-family: inherit;
  outline: none;
}

.btn-add:hover {
  background-color: #68A2CA;
}

.btn-add:focus {
  background-color: #68A2CA;
}

.btn-add:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-clear {
  border: 0;
  width: 100%;
  color: #FFF;
  background-color: transparent;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

.btn-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.btn-clear:focus {
  outline: 2px solid #68A2CA;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .btn-clear:focus {
    outline: none;
  }

  .btn-clear:focus-visible {
    outline: 2px solid #68A2CA;
    border-radius: 3px;
  }
}

.btn-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.product-list::after{
  content: "";
  position: absolute;
  border-bottom: 1px solid #E6E6E6;
  bottom: -40px;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-image {
  display: block;
  object-fit: cover;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  flex-grow: 1;
}

.product-card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.product-card-hotel {
  margin: 0;
  font-size: 18px;
}

.product-card-price {
  margin: 0;
  font-size: 18px;
}

.product-card-detailed:hover {
  border-radius: 4px;
  background: #615048;
}

.product-card-detailed:focus {
  outline: 2px solid #68A2CA;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .product-card-detailed:focus {
    outline: none;
  }

  .product-card-detailed:focus-visible {
    outline: 2px solid #68A2CA;
    border-radius: 3px;
  }
}

.product-card-detailed:active {
  color: rgba(255, 255, 255, 0.3);
}


.product-card-favourites:hover {
  border-radius: 4px;
  background: #68A2CA;
}

.product-card-favourites.active:hover {
  border-radius: 4px;
  background: #6C9E42;
}

.product-card-favourites:focus {
  outline: 2px solid #68A2CA;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .product-card-favourites:focus {
    outline: none;
  }

  .product-card-favourites:focus-visible {
    outline: 2px solid #68A2CA;
    border-radius: 3px;
  }
}

.product-card-favourites:active {
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-card-title-link {
  text-decoration: none;
  color: #000;
}

.product-card-hote {
  color: #333;
  font-size: 18px;
}

.product-card-favourites {
  background-color: #82B3D3;
}

.product-card-favourites.active {
  background-color: #7DB54F;
}

.product-card-rating {
  color: #333;
  display: block;
  text-align: center;
  padding: 9px 22px 8px;
  background-color: #F2F2F2;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0 12px;
}

.pagination-ellipsis {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 12px;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFF;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.pagination-link:not(.pagination-current):hover {
  border-radius: 4px;
  border: 1px solid #82B3D3;
  background: #68A2CA;
}

.pagination-link:focus {
  border-radius: 4px;
  background: #68A2CA;
}

@supports selector(:focus-visible) {
  .pagination-link:focus {
    outline: none;
  }

  .pagination-link:focus-visible {
    border-radius: 4px;
    background: #68A2CA;
  }
}

.pagination-link:not(.pagination-current):active {
  border-radius: 4px;
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
