@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background: #756157;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  background-color: #F2F2F2;
}

.page-container {
  background-color: #FFF;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  height: 68px;
}

.navigation {
  height: 64px;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 28px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 339px;
}

.menu-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

.menu-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  max-width: 268px;
}

.menu-search-link {
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
  text-decoration: none;
  color: #000;
}

.menu-features-link {
  text-decoration: none;
  color: #000;
}

.favourites-numbers {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #FFF;
  background-color: #7DB54F;
}

.nav-btn-link {
  display: block;
  margin-left: 99px;
}


.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/index-background.jpg");
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  padding: 50px 0 80px;
}

.hero-wrap-text {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.hero-caption {
  margin: 0;
  width: 620px;
  margin-top: 69px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hero-text {
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.cards {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 21px;
}

.card-item-light {
  height: 385px;
  background-color: #82B3D3;
  display: flex;
}

.card-item-wrap-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 103px 85px;
  background-color: #82B3D3;
}

.card-img {
  display: block;
  background-size: cover;
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 179px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px;
}

.card-item-title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.card-item .card-item-title {
  margin-top: 8px;
  margin-bottom: 43px;
}

.card-item-subtitle {
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.card-item-wrap-text .card-item-title {
  color: #FFF;
  margin-bottom: 47px;
}

.card-item-wrap-text .card-item-subtitle {
  color: #FFF;
}

.advantages-wrap-text {
  width: 505px;
  margin: 0 auto;
  margin-top: 64px;
}

.advantages-caption {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  color: #333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.cards-about {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card-about-item {
  width: 230px;
  height: 223px;
  padding: 80px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.card-about-item .card-item-title {
  margin-bottom: 30px;
}

.card-about-item-img {
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
}

.search {
  padding: 96px 304px;
}

.search-title {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-subtitle {
  color: #333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.btn-search-center {
  text-align: center;
}

.subscribe {
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-theme-custom {
  background-image: url("../img/subscribe.jpg");
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  color: #000;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
}

.subscribe-theme-custom .subscribe-title {
  color: #FFF;
}

.subscribe-theme-custom .subscribe-subtitle {
  color: #FFF;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: 0;
  padding: 12px 20px;
}

.subscribe-btn {
  display: block;
  background-color: #82B3D3;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  font-family: inherit;
}

.subscribe-input::placeholder {
  color: #000;
}

.page-footer {
  padding: 40px 70px 30px;
}

.footer-wrap {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.social-links {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 236px;
}

.contacts-address {
  display: flex;
  justify-content: center;
  font-style: normal;
}

.contacts-phone {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.logo-academy {
  margin-left: 235px;
}

.filter-wrap {
  padding: 35px 70px 73px 70px;
  background-image: url("../img/filter.jpg");
  background-color: #000;
  background-size: cover, contain;
  background-repeat: no-repeat;
}

.content-wrap {
  width: 1060px;
  margin: 0 auto;
}


.header-inner-title {
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #FFF;
  text-decoration: none;
}

.form-filter {
  display: flex;
}

.filter-group-infrastructure {
  width: 158px;
}

.filter-title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #FFF;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control-input-price {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-sort {
  display: flex;
  margin-bottom: 40px;
}

.catalog-wrap {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.catalog-sort-text {
  margin-right: 200px;
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sort-price {
  font-family: inherit;
  align-self: center;
  color: #333;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
}

.sort-price:not([multiple]) {
  background-image: url("../img/arrow.svg");
  padding-right: 99px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.35em;
  background-size: 11px;
}

.card-view-buttons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: auto;
}

.form-btns {
  border: 0;
  padding: 0;
  margin: 0;
}

.btn-add {
  background-color: #82B3D3;
  color: #FFF;
  border: 0;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
}

.btn-clear {
  border: 0;
  color: #FFF;
  background-color: transparent;
  font-family: inherit;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}


.product-card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.product-card-image {
  display: block;
  object-fit: cover;
}

.product-card-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product-card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.product-card-hotel {
  margin: 0;
  font-size: 18px;
}

.product-card-price {
  margin: 0;
  font-size: 18px;
}

.product-card-title-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px
}

.product-card-hote {
  color: #333;
  font-size: 18px;
}

.product-card-favourites {
  background-color: #82B3D3;
}

.product-card-favourites.active {
  background-color: #7DB54F;
}

.product-card-rating {
  color: #333;
  display: block;
  text-align: center;
  padding: 9px 22px 8px;
  background-color: #F2F2F2;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.pagination-ellipsis {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 12px;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFF;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}
