@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  background: #756157;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  height: 64px;
  margin-right: 28px;
  z-index: 1;
}

.navigation-logo:hover {
  opacity: 0.7;
}

.navigation-logo:active {
  opacity: 0.4;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 580px;
}

.menu-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.menu-link:hover {
  background-color: #f2f2f2;
}

.menu-link:active {
  color: #6e6e6e;
}

.menu-link.active::before {
  content: "";
  position: absolute;
  height: 2px;
  right: 17px;
  bottom: -1px;
  z-index: 2;
  left: 17px;
  background: #756257;
}

.menu-action {
  width: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-search-link {
  display: block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 18px;
  min-height: 18px;
  padding: 23px 13px;
  text-decoration: none;
  color: #000000;
}

.menu-search-link:hover {
  opacity: 0.6;
}

.menu-search-link:active {
  opacity: 0.3;
}

.menu-features-link {
  position: relative;
  display: block;
  background-image: url("../img/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 18px;
  min-height: 18px;
  padding: 23px 13px;
  text-decoration: none;
  color: #000000;
}

.menu-features-link:hover {
  opacity: 0.6;
}

.menu-features-link:active {
  opacity: 0.3;
}

.favourites-numbers {
  position: absolute;
  left: 20px;
  top: 11px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding: 5px 4px;
  border-radius: 10px;
  background-color: #7db54f;
}

.nav-btn-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 360px;
}

.nav-btn-link {
  margin: 14px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
  width: 160px;
  font-family: inherit;
}

.nav-btn-link:hover {
  background: #615048;
}

.nav-btn-link:active {
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #756157;
}

.nav-btn-link:focus {
  background: #615048;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 352px;
  background-image: url("../img/index-background.jpg");
  background-color: rgba(131, 179, 211, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero::before {
  content: "";
  position: absolute;
  background-image: url("../img/divider.svg");
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.lead-wrap {
  padding: 64px 0;
}

.lead-wrap:nth-child(2) {
  padding: 69px 0;
}

.lead {
  margin: 0 auto;
  width: 630px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.lead-footer {
  margin-bottom: 20px;
}

.advantages-list-title {
  margin: 0 auto;
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 21px;
}

.advantages-list:last-of-type {
  margin: 0;
  margin-top: 64px;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n):not(.advantages-item-wide) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-wide-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.advantages-item-container {
  width: 230px;
  min-height: 179px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 103px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-title {
  position: relative;
  margin: 0 auto;
  max-width: 175px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages-item-wide .advantages-title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantages-subtitle {
  margin: 0;
  margin-top: 28px;
  color: #333333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

.advantages-item-wide .advantages-subtitle {
  color: #ffffff;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-service {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-service:nth-child(2n) {
  background: #ffffff;
}

.advantages-item-service-housing {
  height: 72px;
  width: 75px;
  background-image: url("../img/housing-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-food {
  height: 72px;
  width: 75px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-souvenirs {
  height: 72px;
  width: 75px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-service-container {
  width: 230px;
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-title-service {
  position: relative;
  margin: 0 auto;
  max-width: 175px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-subtitle-service {
  margin: 0;
  color: #333333;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-subtitle {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-btn {
  padding: 8px 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: #615048;
}

.search-btn:focus {
  border-radius: 4px;
  background: #615048;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-search-center {
  margin: 0;
  text-align: center;
}

.subscribe {
  text-align: center;
  padding: 96px 0 104px;
}

.subscribe-theme-custom {
  background-image: url("../img/background-subscribe.jpg");
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-title {
  width: 476px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  width: 476px;
  margin: 0 auto;
  margin-bottom: 55px;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  text-align: center;
}

.subscribe-theme-custom .subscribe-title {
  color: #ffffff;
}

.subscribe-theme-custom .subscribe-subtitle {
  color: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-input {
  width: 412px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  display: block;
  border-radius: 0 4px 4px 0;
  background: #82b3d3;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  font-family: inherit;
  cursor: pointer;
}

.subscribe-btn:hover {
  background: #68a2ca;
}

.subscribe-btn:focus {
  background: #68a2ca;
}

.subscribe-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
}

.subscribe-btn:disabled {
  border-radius: 4px;
  background: #e5e5e5;
}

.subscribe-input::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-input::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-input:-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-input::-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  padding: 45px 70px 35px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 143px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  padding: 7px 10px;
  width: 27.3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.social-link-btn {
  display: block;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.link-icon {
  display: block;
  fill: #83b3d3;
  width: 27px;
}

.social-link-btn:hover .link-icon {
  fill: #68a2ca;
}

.social-link-btn:active .link-icon {
  fill: #68a2ca;
  fill-opacity: 0.3;
}


.social-link-btn:focus .link-icon {
  fill: #68a2ca;
}

@supports selector(:focus-visible) {
  .social-link-btn:focus .link-icon {
    outline: none;
  }

  .social-link-btn:focus-visible {
    fill: #68a2ca;
    outline-offset: 6px;
  }
}

.contacts-address {
  max-width: 333px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-style: normal;
}

.contacts-phone {
  color: #000000;
  width: 333px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-academy-link-wrap {
  width: 115px;
}

.logo-academy {
  fill: #000000;
  height: 40px;
}

.logo-academy-link:hover .logo-academy {
  fill: #756157;
}

.logo-academy-link:focus .logo-academy {
  fill: #756157;
}

.logo-academy-link:active .logo-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.filter-wrap {
  padding: 35px 70px 70px 70px;
  background-image: url("../img/filter.jpg");
  background-color: #3f5e72;
  background-size: cover, contain;
  background-repeat: no-repeat;
}

.content-wrap {
  width: 1060px;
  margin: 0 auto;
}

.header-inner-title {
  margin: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 40px;
}


.breadcrumbs-item {
  position: relative;
  margin-right: 28.5px;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}


.breadcrumbs-main-link {
  display: block;
  background-image: url("../img/main.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 21px;
  background-position: center;
}

.breadcrumbs-main-link:hover {
  opacity: 0.6;
}

.breadcrumbs-main-link:active {
  opacity: 0.3;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 13px;
  top: 5px;
  right: -18px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}


.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 160px;
}

.fieldset-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
}

.filter-group-infrastructure {
  width: 150px;
}

.filter-group-housing {
  width: 150px;
}

.filter-price {
  width: 288px;
}

.filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.range-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
}

.label-wrap {
  position: relative;
}

.price {
  position: absolute;
  top: 13px;
  right: 21px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  color: #a9a9a9;
}

.range-input {
  border: 0;
  padding: 12px 40px 12px 20px;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  max-width: 143px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

@supports selector(:focus-visible) {
  .range-input:focus {
    outline: none;
  }

  .range-input:focus-visible {
    border-radius: 4px;
    outline: 3px solid #83b3d3;
  }
}

.range-input.min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.range-input.max {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #61686d;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #82b3d3;
}

@supports selector(:focus-visible) {
  .range-toggle:focus {
    outline: none;
  }

  .range-toggle:focus-visible {
    outline: 3px solid #82b3d3;
  }
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
}

.toggle-min {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.toggle-max {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -19px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #ffffff;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #ffffff;
}


.control:hover .control-mark {
  background-color: #c9dae8;
}

.control:hover .control-label {
  color: #c9dae8;
}

.control:active .control-mark {
  background: #c9dae8;
  color: #c9dae8;
  opacity: 0.3;
}

.control:active .control-label {
  color: #c9dae8;
  opacity: 0.3;
}

.control-input:focus + .control-mark {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

@supports selector(:focus-visible) {
  .control-input:focus + .control-mark {
    outline: none;
  }

  .control-input:focus-visible + .control-mark {
    border-radius: 4px;
    outline: 3px solid #83b3d3;
  }
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}


.control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control-input-price {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.catalog-sort-text {
  margin: 0;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 533px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 293px;
}

.select-control {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 11px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  color: #333333;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.select-control:disabled {
  background-image: url("../img/select-arrow-disabled.svg");
  outline: 2px solid #b3b3b3;
  outline-offset: -2px;
}

.card-view-item {
  cursor: pointer;
}

.card-view-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 160px;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: 69px;
}

.card-view {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border-radius: 4px;
  border: 2px solid  #e5e5e5;
}

.card-view.active {
  border-radius: 4px;
  border: 2px solid  #000000;
}

.card-view:hover {
  border-radius: 4px;
  border: 2px solid  #000000;
}

.card-view:focus {
  border-radius: 4px;
  outline: 2px solid  #68a2ca;
  outline-offset: -2px;
}

@supports selector(:focus-visible) {
  .card-view:focus {
    outline: none;
  }

  .card-view:focus-visible {
    border-radius: 4px;
    outline: 2px solid  #68a2ca;
    outline-offset: -2px;
  }
}

.card-view-grid {
  background-image: url("../img/grid.svg");
}

.card-view-row {
  background-image: url("../img/row.svg");
}

.card-view-list {
  background-image: url("../img/list.svg");
}

.form-actions {
  border: 0;
  padding: 0;
  margin: 0;
  width: 191px;
  margin-top: 56px;
}

.form-btn {
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
}

.btn-add {
  background-color: #82b3d3;
  font-family: inherit;
  outline: none;
  margin-bottom: 32px;
}

.btn-add:hover {
  background-color: #68a2ca;
}

.btn-add:focus {
  background-color: #68a2ca;
}

.btn-add:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-clear {
  background-color: transparent;
  font-family: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.btn-clear:focus {
  outline: 2px solid #68a2ca;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .btn-clear:focus {
    outline: none;
  }

  .btn-clear:focus-visible {
    outline: 2px solid #68a2ca;
    border-radius: 3px;
  }
}

.btn-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.product-list::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e6e6e6;
  bottom: -42px;
  width: 100%;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.product-card-image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card-title {
  margin: 0;
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-card-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.product-card-hotel {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  margin: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 18px;
  line-height: 21px;
}

.product-card-detailed,
.product-card-favourites {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-detailed:hover {
  border-radius: 4px;
  background: #615048;
}

.product-card-detailed:focus {
  outline: 2px solid #68a2ca;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .product-card-detailed:focus {
    outline: none;
  }

  .product-card-detailed:focus-visible {
    outline: 2px solid #68a2ca;
    border-radius: 3px;
  }
}

.product-card-detailed:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-favourites:hover {
  border-radius: 4px;
  background: #68a2ca;
}

.product-card-favourites.active:hover {
  border-radius: 4px;
  background: #6c9e42;
}

.product-card-favourites:focus {
  outline: 2px solid #68a2ca;
  border-radius: 3px;
}

@supports selector(:focus-visible) {
  .product-card-favourites:focus {
    outline: none;
  }

  .product-card-favourites:focus-visible {
    outline: 2px solid #68a2ca;
    border-radius: 3px;
  }
}

.product-card-favourites:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-favourites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-card-favourites.active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-card-stars {
  height: 17px;
  margin: auto 0;
  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
}

.product-card-stars-1 {
  width: 21px;
}

.product-card-stars-2 {
  width: 42px;
}

.product-card-stars-3 {
  width: 65px;
}

.product-card-stars-4 {
  width: 89px;
}

.product-card-title-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title-link:hover {
  opacity: 0.6;
}

.product-card-title-link:active {
  opacity: 0.3;
}

.product-card-favourites {
  background-color: #82b3d3;
}

.product-card-favourites.active {
  background-color: #7db54f;
}

.product-card-rating {
  color: #333333;
  display: block;
  text-align: center;
  padding: 9px 18px 8px;
  background-color: #f2f2f2;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.pagination-ellipsis {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 17px 12px;
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.pagination-current {
  color: #242424;
  background-color: #f2f2f2;
}

.pagination-link:not(.pagination-current):hover {
  border-radius: 4px;
  border: 1px solid #82b3d3;
  background: #68a2ca;
}

.pagination-link:focus {
  border-radius: 4px;
  background: #68a2ca;
}

@supports selector(:focus-visible) {
  .pagination-link:focus {
    outline: none;
  }

  .pagination-link:focus-visible {
    border-radius: 4px;
    background: #68a2ca;
  }
}

.pagination-link:not(.pagination-current):active {
  border-radius: 4px;
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

@supports selector(:focus-visible) {
  .modal-close-button:focus {
    outline: none;
  }

  .modal-close-button:focus-visible {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.5;
}


.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.field-group {
  margin: 0;
}

.modal-form-wrap {
  margin-bottom: 23px;
}

.housing-date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-options-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-text-form {
  margin: 0;
  margin-top: 12px;
  font-size: 20px;
  max-width: 137px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.search-options.adults {
  width: 137px;
}

.person-field-wrap.adults {
  background-color: #f2f2f2;
  width: 111px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-label {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form-label-icon {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 50px;
  width: 20px;
  height: 20px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  background-image: url("../img/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #333333;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-transform: none;
  padding: 22px 18px 22px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 201%;
  left: 59%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../img/tooltip-arrow.svg");
  width: 18px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.search-options.children {
  margin-left: 86px;
  margin-right: 82px;
  width: 50px;
}

.person-field-wrap.children {
  background-color: #f2f2f2;
  width: 111px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caption-date {
  margin: 0;
  margin-top: 12px;
  font-size: 20px;
  max-width: 137px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.date-field-wrap {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.date-field {
  color: #000000;
  width: 384px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 12px 36px 12px 20px;
  border: 0;
  border-radius: 4px;
}

.date-field:hover {
  border-radius: 4px;
  background: #e6e6e6;
}

.date-field:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

.calendar {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  top: 17px;
  right: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.message {
  display: block;
  margin-top: 4px;
  margin-bottom: 23px;
  padding-left: 19px;
  min-height: 21px;
  font-size: 16px;
  max-width: 415px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.message.error {
  color: #ff5757;
}

.person-field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.btn-mark {
  padding: 14px 10px;
  height: 20px;
  width: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: #f2f2f2;
  outline: none;
}

.btn-minus {
  background-image: url("../img/minus.svg");
  opacity: 0.3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.btn-minus:hover {
  background-image: url("../img/minus.svg");
  opacity: 1;
}

.btn-minus:active {
  background-image: url("../img/minus.svg");
  opacity: 0.2;
}

.btn-minus:focus-visible {
  background-image: url("../img/minus.svg");
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.btn-plus {
  background-image: url("../img/plus.svg");
  opacity: 0.3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.btn-plus:hover {
  background-image: url("../img/plus.svg");
  opacity: 1;
}

.btn-plus:active {
  background-image: url("../img/plus.svg");
  opacity: 0.2;
}

.btn-plus:focus-visible {
  background-image: url("../img/plus.svg");
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.person-field {
  padding: 14px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  border: 0;
  background: #f2f2f2;
  width: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.person-field::-webkit-outer-spin-button,
.person-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.form-btn-search {
  width: 100%;
  border: 0;
  color: #ffffff;
  font-family: inherit;
  padding: 18px 77px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #83b3d3;
  border-radius: 10px;
  cursor: pointer;
}

.form-btn-search:hover {
  background: #68a2ca;
}

.form-btn-search:focus {
  background: #68a2ca;
  outline: none;
}

.form-btn-search:active {
  color: rgba(255, 255, 255, 0.3);
}
